body {
    padding-top: 50px;
    margin-top: 50px;
}

.post {
    margin-bottom: 20px;
}

.post .username {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}

.post a.post-time-stamp:link {
    font-size: 80%;
    margin-bottom: 10px;
    color: #777;
}

.post .post-content {
    margin-bottom: 10px;
}